<div
  class="hidden sm:flex flex-row justify-around items-center bg-blue h-12 w-full text-white"
>
  <div class="flex items-center gap-2">
    <img
      src={{icon01}}
      class="h-5 w-5"
      alt="right-icon"
    />
    <p class="text-xs font-medium">30-DAY SATISFACTION GUARANTEE</p>
  </div>

  <div class="flex items-center gap-2">
    <img
      src={{icon02}}
      class="h-5 w-5"
      alt="right-icon"
    />
    <p class="text-xs font-medium">Free delivery on orders over $40.00</p>
  </div>

  <div class="flex items-center gap-2">
    <img
      src={{icon03}}
      class="h-5 w-5"
      alt="right-icon"
    />
    <p class="text-xs font-medium">50.000+ HAPPY CUSTOMERS</p>
  </div>

  <div class="flex items-center gap-2">
    <img
      src={{icon04}}
      class="h-5 w-5"
      alt="right-icon"
    />
    <p class="text-xs font-medium">100% Money Back Guarantee</p>
  </div>
</div>

<!-- Header -->
<div class="flex justify-center">
  <div
    class="flex flex-row justify-between items-center h-20 w-full lg:w-[1190px] mt-30 mx-5"
  >
    <div>
      <img
        src={{logoClarifion}}
        class="h-5 md:h-9"
        alt="image"
      />
    </div>

    <div class="flex gap-4 md:gap-8">
      <img
        src={{logoMcAfee}}
        class="h-4 md:h-8"
        alt="image"
      />
      <img
        src={{logoNorton}}
        class="h-4 md:h-8"
        alt="image"
      />
    </div>
  </div>
</div>
