<div
  class="flex flex-wrap items-start md:justify-center bg-ice w-full mt-10 pt-10"
>
  <!-- Product -->
  <div>
    <div class="w-full px-5 max-w-[580px]">
      <img
        src="../assets/images/img-product.png"
        class="md:h-[591px]"
        alt="image-product"
      />

      <div class="mt-6 p-6 bg-white">
        <div class="h-[186px] w-full mt-6">
          <div class="flex gap-3">
            <img
              src="../assets/images/perfil.svg"
              class="h-12"
              alt="perfil-image"
            />

            <div>
              <div  class="flex flex-row w-full mb-3">
                <img
                  *ngFor="let one of repeat"
                  src={{starImage}}
                  class="h-4 w-4"
                  alt="stars"
                />
              </div>

              <div class="flex items-center gap-2">
                <p class="text-sm font-bold">Ken T.</p>
                <img
                  src="../assets/images/verify.png"
                  class="h-4"
                  alt="verify"
                />
                <p class="text-xs text-green-light">Verified Customer</p>
              </div>
            </div>
          </div>
          <div class="max-w-[500px] mt-4 text-base">
            <p>"{{textTestimonial}}"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="flex flex-col w-full px-5">
      <h1 class="text-3xl max-w-[500px]">
        <span class="text-blue-light">ONE TIME ONLY</span>
        special price for 6 extra Clarifion for only
        <span class="text-blue-light">$14 Each</span>
        ($84.00 total!)
      </h1>

      <div class="flex flex-col h-[134px] mt-8">
        <div class="flex flex-row m-0">
          <div
            class="flex justify-center items-center h-20 w-20 md:h-[134px] md:w-[134px] bg-blue-light rounded-lg"
          >
            <div>
              <img
                src="../assets/images/product-mini-img.png"
                alt="mini-image-photo"
              />
            </div>
          </div>

          <div class="flex flex-col items-center w-full md:w-96 ml-4">
            <div class="flex justify-between w-full md:w-96">
              <span>
                <p class="text-xl font-medium">Clarifion Air Ionizer</p>
              </span>
              <span class="flex gap-3">
                <p class="text-base font-bold text-gray">$180</p>
                <p class="text-2xl font-bold text-blue-light">$84</p>
              </span>
            </div>
            <div class="flex flex-row w-full mb-2">
              <img
                *ngFor="let one of repeat"
                src={{starImage}}
                class="h-4 w-4"
                alt="stars"
            />
            </div>
            <div class="flex flex-row items-center w-full gap-4">
              <img
                src="../assets/images/status.svg"
                class="h-4 w-4"
                alt="status"
              />
              <p class="text-base">12 left in Stock</p>
            </div>

            <div class="hidden sm:block my-3 max-w-[380px]">
              <p class="text-base font-normal ">
                Simply plug a Clarifion into any standard outlet and replace
                bulky, expensive air purifiers with a simple.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="sm:hidden block text-center my-3">
        <p class="text-base font-normal">
          Simply plug a Clarifion into any standard outlet and replace bulky,
          expensive air purifiers with a simple.
        </p>
      </div>

      <!-- Check Right -->
      <div>
        <div class="flex gap-3 my-4 mt-8">
          <img
            src="../assets/images/right-blue.svg"
            class="h-6 w-6"
            alt="mini-image-photo"
          />
          <p class="text-base">
            Negative Ion Technology may
            <span class="font-bold">help with allergens</span>
          </p>
        </div>

        <div class="flex gap-3 mb-4">
          <img
            src="../assets/images/right-blue.svg"
            class="h-6 w-6"
            alt="mini-image-photo"
          />
          <p class="text-base">
            Designed for <span class="font-bold">air rejuvenation</span>
          </p>
        </div>

        <div class="flex gap-3 mb-4">
          <img
            src="../assets/images/right-blue.svg"
            class="h-6 w-6"
            alt="mini-image-photo"
          />
          <p class="text-base">
            <span class="font-bold">Perfect for every room</span> in all types
            of places.
          </p>
        </div>
      </div>

      <div class="mt-4 max-w-[500px]">
        <div
          class="flex flex-row items-center justify-start bg-blue-lightness w-full h-14 rounded-xl gap-4"
        >
          <img
            src="../assets/images/percent2.svg"
            class="h-8 w-8 ml-4"
            alt="percent"
          />
          <p>
            Save
            <span class="text-blue-light"> 53%</span>
            and get
            <span class="text-blue-light">6 extra Clarifision</span>
            for only
            <span class="text-blue-light">$14 Each</span>.
          </p>
        </div>

        <div class="mt-8 gap-5">
          <button
            class="h-[60px] bg-green text-white text-xl font-medium w-full rounded-full flex justify-center items-center gap-5 mb-3"
          >
            Yes - Claim my discount
            <img src="../assets/images/seta.svg" />
          </button>

          <div
            class="flex flex-row justify-evenly items-center min-h-8 w-full border-2 border-gray-light py-3"
          >
            <div class="flex justify-center items-center flex-wrap gap-2">
              <p class="text-xs font-normal">Free shipping</p>

              <p class="text-xs font-normal">Secure 256-bit SSL encryption.</p>

              <img src="../assets/images/banks.svg" class="h-4" />
            </div>
          </div>

          <p
            class="text-red text-lg font-medium underline text-center mb-8 mt-5"
          >
            NO tHANKS, I DON’T WANT THIS.
          </p>
          <div class="flex gap-4">
            <img src="../assets/images/selo.svg" class="h-[88px]" alt="selo" />
            <p class="font-normal text-base">
              If you are not completely thrilled with your Clarifion - We have a
              <span class="font-bold">30 day satisfaction guarantee</span>.
              Please refer to our return policy at the bottom of the page for
              more details. Happy Shopping!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
