<div class="mt-14 w-full">
  <div class="flex flex-row md:justify-center items-baseline md:items-center h-full gap-1 lg:gap-6 2xl:gap-20">

    <div class="flex flex-col lg:flex-row gap-2 md:gap-5 items-center min-w-[97px]">
      <img src={{stepRightImage}} class="h-10 w-10" alt="right-icon"/>
      <p class="flex text-xl font-normal text-center" >
        <span class="hidden sm:flex">Step 1:</span>Cart Review
      </p>
    </div>

    <div class="flex flex-col lg:flex-row gap-2 md:gap-5 items-center">
      <img src={{stepRightImage}} class="h-10 w-10" alt="right-icon"/>
      <p class="flex text-xl font-normal text-center">
        <span class="hidden sm:block">Step 1:</span>Checkout
      </p>
    </div>

    <div class="flex flex-col lg:flex-row gap-2 md:gap-5 items-center">
      <img src={{stepthreeImage}} class="h-10 w-10" alt="right-icon"/>
      <p class="flex text-xl font-normal text-center">
        Special Offer
      </p>
    </div>

    <div class="flex flex-col lg:flex-row gap-2 md:gap-5 items-center">
      <img src={{stepfourImage}} class="h-10 w-10" alt="right-icon"/>
      <p class=" flex text-xl font-normal text-center">
        <span class="hidden sm:flex">Step 1:</span>Step 4: Confirmation
      </p>
    </div>
  </div>
</div>
